[2019-11-13 09:55] Sinnbeck opened #1 "Sorting while "sorted""
I can see that you have disabled the move button when the list is sorted by a column, which is great!
Sadly you can still press the up/down buttons, which does not make a lot of sense :)

Hope it will be fixed in a future release

[2019-11-13 10:51] Tarpsvo commented on #1
Hi! Thanks for the report! It's fixed and I released version 1.0.1 with the fix.

[2019-11-13 10:51] #1 closed

[2019-11-27 11:46] cord opened #2 ""undefined" tooltip"
Great stuff - the long-awaited  sorting package!

Only issue I could find so far is the "undefined" tooltip:

![scopes 2019-11-27 12-45-05](https://user-images.githubusercontent.com/158588/69720848-d7281300-1113-11ea-9f41-c5b0558f0678.png)

[2019-11-27 11:47] Tarpsvo commented on #2
That's really weird. What version of Nova are you using?

[2019-11-27 11:48] cord commented on #2
latest 2.8

[2019-11-28 08:05] Tarpsvo commented on #2
I can't reproduce it, do you have any errors in the console maybe?

[2019-11-28 16:07] cord commented on #2
no errors in console.
the "undefined" tooltip appears only when moving the mouse above the burger icon. When moving above the arrows, the tooltip works correctly.

[2019-12-02 23:11] mynetx opened #3 "Make UI strings translatable"
For non-English users, the success and other messages should be translatable. How can this be achieved?

[2019-12-05 09:02] Tarpsvo commented on #2
I tried different browsers and did lots of testing, but was unable to reproduce it. Can you give a go at an attempt to fix it? I'm not even able to reproduce it.

My only guess would be that maybe you have a different version of `v-tooltip` installed in your project and that overrides the version Nova provides.

[2019-12-05 09:04] Tarpsvo commented on #3
Hi!

I added localization support in version 1.1.0.

Just publish the translation files:

[code]

And create new localizations in your project's `resources/lang/vendor/nova-sortable/` directory.

If you do translate it to some language, please PR the translation to this repository as well, thanks. :)

[2019-12-05 09:04] #3 closed

[2019-12-05 09:34] cord commented on #2
thanks a lot for checking, I think the reason for the issue might be

https://novapackages.com/packages/philperusse/nova-tooltip-field

which uses
[code]
I will create an issue on this package

[2019-12-05 09:48] Tarpsvo commented on #2
Hmm, that package doesn't use the same tooltip packages as Nova though. Laravel Nova (and this package) use `"v-tooltip": "^2.0.2"`.

[2019-12-05 16:17] mynetx commented on #3
@Tarpsvo Thank you!
I have created a new localisation in `/resources/lang/vendor/nova-sortable/de.json`, however in Nova I still see the English strings – while Nova itself is displaying from its `de.json` file. Ideas?

[2019-12-05 17:33] Tarpsvo commented on #3
Hey!

The translation mechanism uses Laravel's core locale logic which means you have to set the app's locale to 'de' for them to be displayed. Can you confirm your app is set to 'de' locale?

[2019-12-05 17:44] mynetx commented on #3
I can confirm that the rest of the Nova display is in German – those strings are loaded from the core German package.

[2019-12-06 07:34] Tarpsvo commented on #3
That's weird. I tested it locally and it works just fine. Where and when are you setting the locale? I'm setting the locale in `NovaServiceProvider.php` `boot()` method, using `app()->setLocale('de')`.

[2019-12-06 08:02] Tarpsvo commented on #3
Managed to reproduce the issue, it was indeed a bug. I overestimated the `Nova::translations()` method.

As it turned out, I have to check the `app()->getLocale()` myself in the provider code. Then find and load the correct translations file.

Reworked the translations logic and published version 1.1.1 with the fix.

[2019-12-06 08:15] mynetx commented on #3
Thank you! 👍 I will give it a go this afternoon.

[2019-12-18 01:52] MohmmedAshraf opened #5 ""class" is a reserved attribute and cannot be used as component prop."
hey, after installing this package i got this error
"[Vue warn]: "class" is a reserved attribute and cannot be used as component prop."

![Screen Shot 2019-12-18 at 3 45 52 AM](https://user-images.githubusercontent.com/44909285/71048938-a0a94b00-2149-11ea-901e-d37b60c61edd.png)

[2019-12-18 12:09] Tarpsvo commented on #5
Hey!

It didn't raise an error for my version of Vue for some reason. I refactored the code a bit to not use `:class` as a custom prop.

Released a fix in version 1.1.3, try it out! Thanks.

[2019-12-18 12:09] #5 closed

[2019-12-18 14:35] MohmmedAshraf commented on #5
Hey, the problem fixed but i got another one after update am using latest version of Nova,

exactly after done sorting it show this error

![Screen Shot 2019-12-18 at 4 35 18 PM](https://user-images.githubusercontent.com/44909285/71094884-64f79b00-21b4-11ea-86ae-5d6cee1297ae.png)

[2019-12-18 14:48] Tarpsvo commented on #5
Not a clue what's going on to be honest. I'm not mutating resources anywhere as far as I can tell. How come you're getting these errors though and noone else is?

[2019-12-18 14:56] MohmmedAshraf commented on #5
I have no idea am just using Nova latest version, Vue version 2.6.11

[2020-01-03 12:04] Tarpsvo commented on #2
Closing for now. Seems to be an environment issue on your side, as noone else has reported this. Best of luck!

[2020-01-03 12:04] #2 closed

[2020-02-06 22:52] 949mac opened #7 "Can you add support to sort a pivot table on BelongsToMany."
![image](https://user-images.githubusercontent.com/23151962/73985515-395d7b00-48f0-11ea-96d2-b5c39dc9784a.png)

It's sorting the primary model rather  than the pivot.

[2020-02-10 12:17] Tarpsvo commented on #7
Hey! Sorry for the late reply. Adding support for pivot tables is not that easy, I need to give it some thought.

Meanwhile, the newly released version 1.2.0 no longer shows the sort buttons on pivot tables, due to the simple reason that it didn't work.

Thanks!

[2020-02-10 20:15] ibraheem9 opened #8 "Can you add support to sort for hasMany relation"
Can you add support to sort for hasMany relation :
for example user hasMany posts
i need to sort user posts

[2020-02-12 14:49] sicbe commented on #7
Might it be possible if we add the search query to the model?

` public function buildSortQuery()
    {
        return static::query()->where('user_id', $this->user_id);
    }`

https://github.com/spatie/eloquent-sortable#grouping

[2020-02-13 08:50] Tarpsvo commented on #7
Hmm, can you explain what's stopping you from adding it to your model right now?

[2020-02-13 09:12] sicbe commented on #7
It was as a suggestion to the original poster :-). I was trying to the same thing earlier this week so found that in the docs of the eloquent-sortable.

I tried it yesterday and finally got it to work to sort on the pivot table.

[2020-02-13 12:39] Tarpsvo commented on #7
Ah, that makes sense!

I should probably document this and re-enable sorting on pivot lists.

[2020-02-17 01:38] 949mac commented on #7
Thanks for the responses!

[2020-02-18 17:58] ludgerey opened #9 "Sort controls not showing in relation tables since version 1.2.0"
**Before Update**

laravel/framework v6.9.0
laravel/nova v2.9.2
optimistdigital/nova-sortable 1.1.3

<img width="1277" alt="Bildschirmfoto 2020-02-18 um 18 48 02" src="https://user-images.githubusercontent.com/1951647/74763145-87bf3200-527f-11ea-9967-caa322adc7df.png">

**After Update**

laravel/framework v6.15.1
laravel/nova v2.10.1
optimistdigital/nova-sortable 1.2.0

<img width="1273" alt="Bild

[2020-02-18 18:15] Tarpsvo commented on #9
I hid them intentionally as they didn't work as intended. I'll bring them back in a release tomorrow and write documentation on how to get them to work properly. Sorry!

[2020-02-18 18:44] ludgerey opened #10 "Move items across pages"
Is there a way to move an item to the next page? As I see it, currently no.

Of cause Drag'n'drop is hard to manage across pages. But maybe add an extra button at the first and list item? Or use the existing arrow buttons only to move to the next page instead of the end?

[2020-02-19 16:03] Tarpsvo commented on #7
Sorting pivot tables is now supported in version 1.3.0. Instructions in README. Let me know if it works for you, good luck!

[2020-02-19 16:03] #7 closed

[2020-02-19 16:05] Tarpsvo commented on #9
I added BelongsToMany support in version 1.3.0. What kind of relationship does your form use? Also, you mentioned that it works on "grid views", what view did you mean by that? The regular index view?

[2020-02-19 16:11] ludgerey commented on #9
I use a `HasMany` relation.

Yes.

[2020-02-19 16:14] Tarpsvo commented on #9
Did you get sorting to work as expected on the HasMany relationship?

[2020-02-19 16:18] ludgerey commented on #9
Nop. Controls are not showing up.

[2020-02-19 16:19] Tarpsvo commented on #9
But before the controls disappeared, did the sorting work?

[2020-02-19 16:22] ludgerey commented on #9
Yes. I didn't notice any problems.

[2020-02-20 04:11] MilesWuCode commented on #9
my cast

relation : hasMany

A hasMany B

// b model
    public $sortable = [
        'order_column_name' => 'order_column',
        'sort_when_creating' => true,
        // 'sort_on_pivot' => true,
    ];

    public function buildSortQuery()
    {
        return static::query()->where('a_id', $this->a_id);
    }

B not show Sort-UI and not sorting

if  sort_on_pivot => true,

B  show Sort-UI and

[2020-02-20 06:36] Tarpsvo commented on #9
Still working on HasMany sorting, will try to make a tutorial and compatibility shortly.

[2020-02-21 04:27] Equruler commented on #8
+1

[2020-03-02 20:24] potibas commented on #7
Is there an example that could be used for reference? I'm having a bit of difficulty to implement this feature just from the instructions on the README file, keep getting errors on nova's resource pages (sort_order not found).

[2020-03-03 14:56] sashalenz commented on #9
the same trouble, after upgrading to nova 2.11.1

[2020-03-08 16:19] albalooshi commented on #8
+1

[2020-03-09 13:20] nilsE commented on #8
+1

[2020-03-17 14:07] phlisg commented on #7
@potibas

I managed to make it work on my side, the provided example was a bit confusing at first, but I figured it out. If it helps you, here's my implementation on my side:

#### TL; DR: just add on your "main model" a column `sort_order`

## Models:
`Visits` (Guided tours if you will)
`Stages` (guided tours "steps" if you will)
- has a column named `order` (for manual ordering, if I couldn't fi

[2020-03-18 02:31] Gummby opened #16 "Sort on Pivot only"
Hi there,

Not sure if this intended behaviour. But I want to sort only on relationships, so when it is on relationship/pivot table.

This below will return true even if it's not viaRelationship as the second property is set true in my model.

`$sortable  = $request->viaRelationship() ? $request->newResource()->resource->sortable['sort_on_pivot'] ?? false : true;`

am I using it wrong or is this j

[2020-03-19 11:10] Tarpsvo commented on #16
Hi! This is the intended behaviour as I haven't added a flag for the "show only on pivot tables" use-case.

If you have any ideas on how to handle this, input is greatly appreciated!

[2020-03-24 10:04] mikhi opened #17 "HasMany relationship issue solved"
Hi,
Great package.
To support HasMany relationship, please update the "SortableController" code (line 24)

**from**

[code]

**to**

[code]

[2020-03-26 02:55] Gummby commented on #16
Hi, I just override the serializeForIndex method and made it a little more verbose

[code]

This means it wont show the sort controls on the resources index view on the relationship index view

[2020-03-27 11:47] FaridAghili opened #18 "Stop serving empty css file"
In file https://github.com/optimistdigital/nova-sortable/blob/master/src/ToolServiceProvider.php line 28 can be removed as there is no css style used in this package.

[2020-03-27 12:10] mdavis1982 commented on #9
@Tarpsvo Is there any update on this at all? I need to get `HasMany` sorting working but the UI isn't showing up.

Thanks 😄

[2020-03-31 09:52] Anticom commented on #9
I need this as well. If I can help out by providing a PR etc. let me know.

[2020-04-17 12:11] Tarpsvo commented on #10
I'll give it some thought, maybe an UI/UX designer could pitch in. :D

[2020-04-17 12:20] Tarpsvo commented on #18
Hey! Thanks for reporting this, fixed this issue in version 1.4.0.

[2020-04-17 12:20] #18 closed

[2020-04-17 12:21] Tarpsvo commented on #17
Hey! Thanks for the code, I actually did end up using parts of it when adding HasMany support. The support was added in version 1.4.0, please test it out. Thanks and good luck!

[2020-04-17 12:21] #17 closed

[2020-04-17 12:22] Tarpsvo commented on #9
Hey guys! HasMany sorting has been added in version 1.4.0, though it comes with one drawback: you can only sort on either the Index view OR the HasMany view, but not both. Both would be too difficult to implement at this point. Let me know if this works for you. Good luck!

[2020-04-17 12:22] #9 closed

[2020-04-17 12:22] Tarpsvo commented on #8
Hey guys! HasMany sorting has been added in version 1.4.0, though it comes with one drawback: you can only sort on either the Index view OR the HasMany view, but not both. Both would be too difficult to implement at this point. Let me know if this works for you. Good luck!

[2020-04-17 12:22] #8 closed

[2020-04-17 12:23] Tarpsvo commented on #16
Hi! The newly released version 1.4.0 supports this exact behaviour - you can only enable sorting on either the Index view OR the HasMany/BelongsToMany/MorphsMany relationship, but not both. Let me know if it works as intended for you now. Good luck!

[2020-04-17 12:23] #16 closed

[2020-04-20 15:15] mdavis1982 opened #20 "BelongsToMany Pivot Table Ordering"
I've read the docs, and tried the example [here](https://github.com/optimistdigital/nova-sortable/blob/master/docs/sorting/belongs-to.md), but I can't get ordering via a column on a Pivot table to work.

I have a `tracks` table, and an `artists` table, and they are linked with an `artist_tracks` table. I've added the `sort_order` column to the `artist_tracks` table, but no matter what I try, I can

[2020-04-20 15:17] Tarpsvo commented on #20
Did you add the sorting to the pivot model query on the Artists model?

[code]

[2020-04-20 15:22] mdavis1982 commented on #20
@Tarpsvo I did... The actual ordering is working, but I couldn't attach a new Artist to a track (because it said that `sort_order` didn't have a default value), and I can't get the draggable UI to appear.

When I'm on my `Track` detail page, I want to be able to reorder the `Artists` that are attached to the `Track`.

[2020-04-20 15:54] Tarpsvo commented on #20
Hey! When adding HasMany support, I did indeed break BelongsToMany. I made some fixes and managed to get a new project with Artist/Track models working.

Here's some of the code:

[code]

[code]

[code]

[code]

The set up is indeed pretty difficult and prone to breaking at this stage, I'll look into what I can do to simplify the setup. Try setting it up again with 1.4.1 and let me know if this wo

[2020-04-20 17:16] mdavis1982 commented on #20
@Tarpsvo Thanks for taking a look at this 😄

This mostly works now, aside from one thing. When attaching an `Artist` to a `Track` using Nova, the `sort_order` field on the pivot table isn't filled correctly.

I thought this might be because `sort_when_creating` was `false`, but changing it to `true` doesn't fill the `sort_order` column either.

How would I go about ensuring that the column is fill

[2020-04-21 04:13] authanram commented on #20
I can confirm what @Tarpsvo is reporting regarding the sort_order column on the pivot table.

1. Exception if there is no `sort_order` column on the main table. in my case i only want to sort on pivot only, not main table. So a `sort_order` column is not required on the main table.

2. Sortings are applied to main table when sorting on the pivot index view.

I've fixed the sorting on pivot for the

[2020-04-21 08:51] Tarpsvo commented on #20
Alright, reworked it a bit and it works on my machine™.  Check out the new docs at [sorting/many-to-many.md](https://github.com/optimistdigital/nova-sortable/blob/master/docs/sorting/many-to-many.md) and let me know if the solution works now. Should now be more logical and require less setup, even though the user is required to create a Pivot model for the relationship.

[2020-04-21 10:09] mdavis1982 commented on #20
@Tarpsvo Thanks so much for taking the time to look at this again.

I've just tried this out, and it is now filling in the `sort_order` field on the pivot table 😄

I have noticed, however, that it doesn't seem to be taking into account both of the columns on the pivot table any more.

So, if I have the following:

| artist_id | track_id | sort_order |
| --------- | -------- | ---------- |
| 1

[2020-04-21 10:26] mdavis1982 commented on #20
@Tarpsvo Okay... I've just fixed this for my use-case.

I needed to add a `buildSortQuery()` method to the `ArtistTrack` pivot model like so:

[code]

Do you think it's worth adding this to the docs? 😄

[2020-04-21 10:29] mdavis1982 commented on #20
@Tarpsvo Okay, scratch that... Constraining to both columns doesn't work.

Instead, I needed to just constrain to a single column:

[code]

I am still having the issue where the initial attach is getting an order of `1` and not `0` though.

[2020-04-21 10:52] mdavis1982 commented on #20
@Tarpsvo Sorry - I've also just noticed that the Move to Start and Move to End buttons don't work, because they're trying to call the methods on the `Artist` model, and not on the pivot model.

[2020-04-22 11:48] Tarpsvo commented on #20
Pretty sure I got it working now, but that required a lot of new changes. Biggest of which is the new requirement of having a primary key column `id` on the pivot table. I'm on the verge of thinking of removing support entirely due to its complexity. Sorting stuff on pivot tables is a nightmare. You sure you can't use HasMany on your track/artist relationships? :D

[2020-04-22 11:53] mdavis1982 commented on #20
@Tarpsvo Thanks for your work on this 😄

Please don't remove support - I definitely need this functionality 😁 This is the only Nova package with a decent user interface and UX that does all of this sorting functionality and the ecosystem would definitely be worse off without your work on this!

I'll take this for a spin today and let you know how I get on... I really do appreciate you jumping on t

[2020-04-22 13:02] mdavis1982 commented on #20
@Tarpsvo Just had a play with this... There are a couple of things that aren't working for me.

If I have no artists attached to a track, I get an error about trying to access `->pivot` on a `null` object. I think this can be fixed in `HasSortableRows` on line 25 by wrapping in `optional()` but I'm not sure what knock on effects that would have.

Also, the `Move to Start` and `Move to End` buttons

[2020-04-22 13:13] Tarpsvo commented on #20
Hey again! Fixed the two mentioned errors and it should be good in version 1.4.4. Thanks for helping me test this!

[2020-04-22 13:16] mdavis1982 commented on #20
@Tarpsvo Thank you so much! This all seems to be working now! 😄

[2020-04-22 13:17] Tarpsvo commented on #20
Nice! Let me know if anything breaks again. :D Good luck!

[2020-04-22 13:17] #20 closed

[2020-04-23 14:52] mdavis1982 opened #21 "Global Search Not Working"
Hi @Tarpsvo

I've just noticed that with the latest release, my global search isn't working, and I seem to be getting errors from the `HasSortableRows` trait.

My setup is detailed in #20 that we worked through over the last couple of days.

I'm getting "No Results" in the global search.

This doesn't actually seem to be related to using a `belongsToMany` ordering as this happens even when I only

[2020-04-23 15:10] Tarpsvo commented on #21
Hey! Fixed the issue and released in version 1.4.5. Good luck!

[2020-04-23 15:10] #21 closed

[2020-04-23 17:25] mdavis1982 commented on #21
@Tarpsvo Works a treat! Thanks you so much for your support on this. You really should set up GitHub Sponsors 😄

[2020-04-28 10:55] Jon78 commented on #20
Hi there. We're trying to add sorting functionality to an existing pivot table and could use some help. After adding the `sort_order` column, what do we set the values to? Also [this working example](https://github.com/optimistdigital/nova-sortable/issues/20#issuecomment-616644150) seems to differ from the [docs](https://github.com/optimistdigital/nova-sortable/blob/master/docs/sorting/many-to-man

[2020-04-28 10:58] gerardnll opened #24 "Not able to getting it to work"
Hi,

I've followed all the instructions and I'm not seeing the buttons to reorder the resources in the index page. I'm seeing the JS being loaded but nothing appears. I do not need to add order as a field right? I have the latest Nova and Laravel version.

Thanks.

[2020-04-28 10:59] Tarpsvo commented on #20
The solution was reworked since this example was posted here, so the docs are more up to date and should be correct.

The new `sort_order` column should basically be set to the ID of the column.

`sort_on_belongs_to` no longer exists, instead it uses the HasSortableManyToManyRows trait.

Hope this helps!

[2020-04-28 11:02] Tarpsvo commented on #24
Hi!

Do confirm your model has the `$sortable` attribute and `SortableTrait` and your Resource has `HasSortableRows` trait.

There's no field for this, it should work using the given traits.

[2020-04-28 11:06] gerardnll commented on #24
Sure it does.

[code]

[code]

[2020-04-28 11:10] gerardnll commented on #24
I see the JS being loaded and the setting sortable = true

![Captura de Pantalla 2020-04-28 a les 13 09 59](https://user-images.githubusercontent.com/2018022/80480816-9c8c0600-8951-11ea-8db3-baa589470fda.png)

[2020-04-28 11:14] Tarpsvo commented on #24
Hmm, I wonder if there's any other packages you use that might be overwriting the `resource-table-row` component?

[2020-04-28 11:18] Tarpsvo commented on #24
![image](https://user-images.githubusercontent.com/2018660/80481364-f2b17700-895a-11ea-9719-1ed9208b3501.png)

[2020-04-28 11:20] gerardnll commented on #24
No, the results just show your package.

[2020-04-28 11:25] gerardnll commented on #24
Ok, fixed. It has to do with permissions. Sorry.

[2020-04-28 11:26] Tarpsvo commented on #24
Ah, yes, I just reached the same conclusion. If actions are not available and the user isn't allowed to delete anything, the checkboxes are not displayed, but currently the reorder component renders alongside the checkbox component. I'll get to fixing it in a second. Thanks!

[2020-04-28 11:29] gerardnll commented on #24
Maybe it's a good idea to use the Field way, so we can use permissions/abilities, and also you avoid overwriting components (which is always kind of dangerous).

[2020-04-28 11:35] Tarpsvo commented on #24
Sadly, I don't think it can be done with a field as the whole row has to be wrapped inside the draggable component for it to be draggable. I agree that overwriting components is dangerous as breaking changes could come at any time, but the only "field" way to do it would be to just add a button to move it up and down one slot and that seems a bit too tedious. Draggable seems to be the best UX solu

[2020-04-28 11:35] #24 closed

[2020-04-28 11:42] gerardnll commented on #24
It's weird because I cannot reorder even though I have the update permission. Does it only appear when the 'delete' permission is true?

[2020-04-28 11:44] Tarpsvo commented on #24
Hmm, it should appear no matter what. Did you try force-refreshing? The nova-sortable JavaScript may be cached.

[2020-04-28 11:46] gerardnll commented on #24
Yes, my bad. Thanks a lot.

[2020-04-28 11:46] Tarpsvo commented on #24
Awesome!

[2020-04-28 13:12] Jon78 commented on #20
Thanks, I can now order existing items by dragging them. Or at least the `sort_order` values in the database are updated. After reloading a page however the items are once again ordered by ID, so a user might think nothing has changed. Also attaching new resources or using the 'move to front/back' buttons reloads the relationship and (visually) orders the resources by ID.

Is there a fix/workaroun

[2020-04-28 14:33] svenvanhees opened #25 "Extend documentation hasMany"
Hi,

While reading the docs, you are stating this:

How do we choose to use the sortable trait on the the HasMany list view instead of the index view?

[2020-04-28 14:38] Tarpsvo commented on #25
The toggle is the `sort_on_has_many` key on the `$sortable` attribute.

[code]

[2020-04-28 14:38] #25 closed

[2020-04-28 14:57] svenvanhees commented on #25
My apologies for not explaining further. But the sort_on_has_many does not function correctly.

It only allows me to sort on the index page, and not on the hasmany relation page.
![image](https://user-images.githubusercontent.com/3237025/80502777-55ae0880-8971-11ea-842d-b9d7044b5d3a.png)

[2020-04-28 15:15] Tarpsvo commented on #25
That's odd, it should work. It's exactly like the Post<->Comment relationship in the example.

[2020-04-28 15:36] bryanjamesmiller opened #26 "Upgrade to Laravel 7"
Hi, thanks for your nice package!

Can you make a release that will work on Laravel 7?  At least one of your dependencies is preventing this: https://github.com/spatie/eloquent-sortable/blob/3.7.0/composer.json - thanks!

[2020-04-28 16:14] Tarpsvo commented on #26
Hmm, I have the rule set up as `"spatie/eloquent-sortable": "^3.7.0",` which should also include `3.8.0` which has 7.0 support. You sure my package is blocking it? It installed 3.8.0 for me in my test project.

[2020-04-28 17:33] bryanjamesmiller commented on #26
@Tarpsvo Hi, Thank you for the quick reply.  I was able to get it to install after doing the following:

1. I deleted your package and another one that was blocking our upgrade in addition to yours (apparently) and upgrading everything else to Laravel 7 and Nova 3

2. I re-added your package via `composer require optimistdigital/nova-sortable`.  It successfully added.

So I'm not sure why the earl

[2020-04-28 17:33] #26 closed

[2020-04-29 03:16] eugenevdm opened #27 "Composer install fails on Nova 3.4.x"
I might be doing something wrong but on Laravel Nova 3.4.1 when I try to install it I get:

`optimistdigital/nova-sortable 1.4.7 requires laravel/nova ^2.0.11 || ^3.0 -> no matching package found.`

[2020-04-29 06:56] svenvanhees commented on #25
After reading the releases page, I saw that the HasMany support was added in the 1.4 release. I was still locked in on ˆ1.3. Any chance this could be mentioned in the docs?

Thanks anyways!

[2020-04-29 07:28] Tarpsvo commented on #27
Are you sure you have laravel/nova in your dependencies?

[2020-04-30 14:25] thomasdominic opened #28 "Icon's don't appear in HasMany relation"
Nova 3.5
Nova-sortable 1.4.7

I'm including `HasSortableRows` trait but icon to sort don't appear in listing.
I haven't php error and console error.
This feature was ok few month ago and I didn't modify the code, only update.
![Capture d’écran de 2020-04-30 16-22-15](https://user-images.githubusercontent.com/17202290/80721811-f54cd180-8afe-11ea-8fed-781ba71f67de.png)

I don't know how explain my i

[2020-04-30 14:35] Tarpsvo commented on #28
You can only sort on **either** the index view or the HasMany relationship view. The toggle is the following:

[code]

[2020-04-30 14:40] thomasdominic commented on #28
Yes, I see it in https://github.com/optimistdigital/nova-sortable/issues/25

Thanks you very much for this packages :)

[2020-04-30 14:40] #28 closed

[2020-05-05 06:25] #27 closed

[2020-05-11 14:45] HalaAlmomanii opened #29 "Is this package store order in Database"
Hello,
I would ask i install it and it was great but when i drop and drag row  the database column order not change

Is this package just frontend ?

[2020-05-21 17:24] godhandkiller opened #30 "Confirm sort with button"
Hello, I have a project where the client handles important information, so every changes that he makes it affects a lot of other users. He wants to be able to drag and drop items to sort them but I want if I can make it so the user has to click on a Confirm button before the sort changes on the database.

[2020-05-21 20:15] cgarofalo opened #31 "400 error on update-order route"
I am getting  `An error occurred while trying to reorder the resource.` when I try to drag and drop reorder the rows. "Move to first" and "Move to end" work as expected.

When I check the console I have a `Failed to load resource: the server responded with a status of 400 (Bad Request)` On the `update-order` route.

Laravel : 6.18.15
Nova: 2.12
PHP: 7.3.1

[2020-05-21 20:25] cgarofalo commented on #29
@HalaAlmomanii You may have the same issue as I do: #31

[2020-05-21 20:28] HalaAlmomanii commented on #29
@cgarofalo  well in nova i was having index query method in resource and i used the trait which also have indexqurey  method so it was override , and that was my problem

[2020-05-25 13:54] Tarpsvo commented on #29
Ah yes, I should probably mention that somewhere in the docs. The HasSortableRows does override the indexQuery method and will not work without it.

[2020-05-25 13:54] #29 closed

[2020-05-25 13:59] Tarpsvo commented on #31
Does the invalid request have a body? The SortableController's 400 responses should return an error message when anything fails.

[2020-05-26 09:23] muhghazaliakbar opened #32 "Sortable doesn't work when delete policy resource enabled."
I'm trying to implement the package in my resource, but doesn't work because the delete policy method related to the resource is enabled.

[2020-05-26 14:43] cgarofalo commented on #31
Hi,
The only response I can find is `resourceName: "invalid"`, but I don't see how my resource name is invalid.

[2020-05-27 11:55] Tarpsvo commented on #32
What's the error?

[2020-05-27 11:57] Tarpsvo commented on #31
Hmm, is your Resource properly registered?

[code]

Nova can't find it the resource for some reason.

[2020-05-27 15:55] muhghazaliakbar commented on #32
There is no error, the sortable field not showing in the index resource page.

[2020-05-27 19:35] cgarofalo commented on #31
I have tried this on a vanilla install of Laravel 6+ and Nova 2+. It works. I'll have to see what's different about my project concerning resources. I'll post back if I find a solution, in case anyone else encounters the same issue.

[2020-05-27 21:30] cgarofalo commented on #31
I figured it out. The update-order POST request was passing empty strings instead of null for ViaResource. The problem was I had the `\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull::class`middleware commented out in my project.

[2020-06-16 09:56] angelocapone opened #34 "To sort on both Index view and HasMany list view."
I would need the resource to be sorted on both Index and HasMany list view.
Is there any rough ETA when this will be supported?

Here’s my schema table:
[code]

And here’s my Category model:
[code]

i.e. I have Categories and Subcategories with hasMany relationship. Both needs to be sorted.
Thank you.

[2020-06-16 11:31] Tarpsvo commented on #34
I have no plans to support sorting on both index and relationship(s) at once.

[2020-06-16 11:31] #34 closed

[2020-07-16 10:29] kidereo opened #37 "Setting permissions on who can sort rows"
Many thanks for the package!

My Nova resources are controlled through policies. Only admins can change resources, the rest just view them.

With this package, it appears that any user can reorder the rows and it will be persisted in the database, regardless of policy constraints.

Is there a way to allow only admins to change the order, and the rest would just see that arrangement?

I use Nova 2.

[2020-08-19 09:29] shaffe-fr opened #41 "Change default order column name"
Hello,
The default order column of this package is `sort_order` whereas spatie/eloquent-sortable uses `order_column`.
The same order column name would allow both packages to work without any configuration for simple use case.
As it would be a BC, would you be open to a PR to change the default order column name to "order_column"?
Thanks for your work,
Best,
Karel

[2020-08-19 14:11] Tarpsvo commented on #41
Hi!

As the user has to create a migration anyway, it's not going to be zero configuration either way. To me, it seems weird to name a column as a `_column`, so I think I'll keep it as `sort_order` for now.

[2020-08-19 14:11] #41 closed

[2020-08-19 15:46] shaffe-fr commented on #41
Hi,
I understand, I also think `_column` is weird.
Thanks

[2020-08-31 11:02] Tarpsvo commented on #31
Glad you figured it out! I think I found out what caused it in the package as well and added a fix for that. The middleware should no longer be necessary in version 1.4.11.

[2020-08-31 11:02] #31 closed

[2020-09-03 12:08] ZuggieTM opened #44 "Sortable only when viewing through relation"
Is it possible to make a resource sortable ONLY when you view it through a relation, so disable sorting when you're viewing the resource index itself?

[2020-09-03 12:10] Tarpsvo commented on #44
If it shows the sorting buttons on both Index view and the relationship view, then that's a bug. Let me look into it.

[2020-09-03 12:18] ZuggieTM commented on #44
Ah alright. Yeah that's what's happening.

Also, I noticed that in the relationship view, it sorts my sortable relations by the primary key rather than the order key. This makes the sorting incorrect when dragging them around.

[2020-09-03 12:19] Tarpsvo commented on #44
What type of a relationship is it? HasMany?

[2020-09-03 12:22] ZuggieTM commented on #44
It's actually a MorphToMany / MorphedByMany.

I've set it up as explained in https://github.com/optimistdigital/nova-sortable/blob/master/docs/sorting/many-to-many.md

It works fine, the only issue is the sorting button showing on the resource itself and when viewing the resource in a relationship, it's sorted by primary ID rather than the column defined in 'order_column_name' on the Pivot model.

[2020-09-03 12:37] ZuggieTM commented on #44
I'm viewing from a Feed resource that is MorphedByMany CustomFeedElemenets.

I did a quick test on the indexQuery function inside HasSortableRows and got the following.

Inside a Feed resource, $query->getQuery()->from returns "custom_feed_elements" and $sortability->model->getTable() returns "feedables" (which is the intermidiate table).

This results in the code never reaching the part where it

[2020-09-03 12:49] ZuggieTM commented on #44
I think I might have found the issue, but correct me if I'm wrong.

Since we're sorting through a relationship shouldn't we use $request->viaResourceId instead of $request->resourceId inside the if statement ($request->viaManyToMany())?

[2020-09-03 13:53] Tarpsvo commented on #44
Hmm, I applied your fix, but I don't have time to test it right now. I'll test and release at latest tomorrow. Did this also fix the issue of sorting controls appearing on both relationship and index views?

[2020-09-03 13:56] ZuggieTM commented on #44
Unfortunately not. I don't have time myself to test what causes that. I'll have a look at it either later tonight or tomorrow.

[2020-09-04 06:58] ZuggieTM commented on #44
About the sorting controls appearin on both relatinoship and index view, I found the following.

serializeForIndex has "sort_on_index". This is either true of false based on !$sortability->sortOnHasMany && !$sortability->sortOnBelongsTo

Adding "&& $sortability->sortable" to that check fixed it for me. Again, not sure if that breaks sortables that aren't relations, but now you have something to wo

[2020-09-04 09:35] Tarpsvo commented on #44
Hi! There were many issues under the hood coming from the recent PR-s. I really need to create a project for all these cases to be honest. I only have one with HasMany and a simple ManyToMany relationships.

Anyhow, I made sure they both work right now. Please test the latest version, 1.4.13, and let me know if all looks good on your side. Thanks and good luck!

[2020-09-04 09:37] ZuggieTM commented on #44
Thank you 👍

Good luck to you as well :)

[2020-09-07 11:31] LouisHrg opened #45 "updateOrder failed with group sorting"
Hello,
I have a Post table, each post has a heading stored as string in a column (like news, podcasts, tests etc)
I've overridden buildSortQuery method in my Post model like so
[code]

It works very well on creation, displaying, move to end, move to top. But when I want to use the drag and drop feature the nova api give me a HTTP 400 `resourceIds: invalid`

I don't know if i'm using buildSortQuery

[2020-09-14 09:09] Tarpsvo commented on #45
Hi! Can you confirm this still happens with version 1.4.14?

I can't reproduce this with the latest version.

[2020-09-14 09:09] #44 closed

[2020-09-16 14:31] LouisHrg commented on #45
Yeah it's still happening in 1.4.14

[2020-09-18 07:14] Tarpsvo commented on #45
What does the relationship look like? I can't reproduce this on my side yet. :S

[2020-09-22 12:42] LouisHrg commented on #45
It's not a relationship, it's a string field.

My table :
uuid id
string title
string content
string heading

And to filter the query by heading :
[code]

As said before, the probleme is on L75 in OptimistDigital\NovaSortable\Http\Controllers\SortableController

[2020-09-23 09:07] danielztolnai commented on #45
Hi! The problem appeared in 1.4.9 with 9fcf45fa5b1cc073370d3e9d3b30c007068c412f. In this commit, `buildSortQuery` is used on a newly created empty model instance. If `buildSortQuery` uses one of the attributes for example to filter by group, the given attribute will most likely be undefined on the new model and therefore `buildSortQuery` will return zero elements.

The perfect solution would be to

[2020-09-23 11:47] Tarpsvo commented on #45
Gotcha fam, try out version 1.4.15. Should be fixed now.

[2020-09-23 12:03] LouisHrg commented on #45
Thanks you so much !!!!

[2020-09-23 12:03] #45 closed

[2020-09-23 14:23] JurjenRoels opened #47 "Sortable on index AND has many"
When putting sort_on_has_many on true. You can no longer sort on the index.

I would like to be able to sort on both index and has many.

When putting sort_on_has_many with the model on true, it disappears from the index.

[2020-09-23 14:27] Tarpsvo commented on #47
That's intended. While possible, it's complicated to create two different indexes and keep track of them while sorting them. Nor has this been implemented.

As this package only uses one sort column (by default 'sort_order'), it's not possible to sort on both Index and HasMany as sorting on one of them causes side-effects on the other.

[2020-09-23 14:27] #47 closed

[2020-09-23 14:31] FaridAghili opened #48 "Change in last commit (withTrashed) broke the code"
After https://github.com/optimistdigital/nova-sortable/commit/e0c83a24b8583d17c48b78f8e8e6c3a493f17980 when trying to sort rows by drag and drop, error occurs:
`Call to undefined method App\Slide::withTrashed()`

Log:
[code]

[2020-09-23 14:32] FaridAghili commented on #48
@Tarpsvo
Take a look please

[2020-09-23 14:42] Tarpsvo commented on #48
Hi! Released a fix in version 1.4.16. Good luck!

[2020-09-23 14:42] #48 closed

[2020-09-23 15:06] FaridAghili commented on #48
Nope, same error :|

Double checked source code downloaded by Composer:
[code]

My Slide model, if it helps:
[code]

[2020-09-23 15:14] FaridAghili commented on #48
@Tarpsvo I guess `is_callable` is returning True because of Eloquent's magic methods.

Just use `method_exists` instead of `is_callable`, I've tested this with and without SoftDeletes trait.

[2020-09-23 15:32] JurjenRoels commented on #47
Ah,

Good to know.

Nice package BTW.

[2020-09-23 19:52] FaridAghili opened #49 "Crash issue on withTrashed not fixed"
@Tarpsvo https://github.com/optimistdigital/nova-sortable/commit/b088d34bd5d7a077563ece81f907ca08882f39c2 didn't fixed https://github.com/optimistdigital/nova-sortable/issues/48 and I guess `is_callable` is returning True on non SoftDeletes because of Eloquent's magic methods.

Just use `method_exists` instead of `is_callable`, I've tested this with and without `SoftDeletes` trait.

[2020-09-24 07:07] Tarpsvo commented on #49
Hi! Seems to work, released in version 1.4.17.

[2020-09-24 07:07] #49 closed

[2020-09-24 10:15] Naoray opened #50 "[Question] Sort ManyToMany"
Does ManyToMany sorting allow to disable sorting on one of the Detail views?

I currently have a `Place` and a `Dentist` model which have a Many-to-Many relationship. I set it up so that Dentists can be sorted on the Places details view. On the Dentist details view the 'sort' icon is still showing up, even though it doesn't have any functionality. I thought adding `$sortable = ['dont_sort_on' => A

[2020-09-28 05:47] TheSETJ opened #51 "Unsortable rows"
In my project, I have rows that I want them to be unsortable. Currently, I'm using something like this to prevent sorting:

[code]

It works, but it displays 2 error toast on the page, one says "Model is not sortable!" (mine) and the other one says "An error occurred while trying to reorder the resource." (yours). It would be nice if somehow I can define for the package to when accept sorting and

[2020-09-29 08:15] Naoray commented on #50
Ups. Had to add the 'dont_sort_at' to the right model

[2020-09-29 08:16] #50 closed

[2020-09-29 21:30] nbayramberdiyev commented on #37
You need to override 2 methods in `OptimistDigital\NovaSortable\Traits\HasSortableRows` trait if you want to allow user-based sorting/reorder: [`OptimistDigital\NovaSortable\Traits\HasSortableRows::getSortability`](https://github.com/optimistdigital/nova-sortable/blob/master/src/Traits/HasSortableRows.php#L9) and [`OptimistDigital\NovaSortable\Traits\HasSortableRows::serializeForIndex`](https://gi

[2020-10-02 08:11] Tarpsvo commented on #37
Hi guys! I just released version 1.5.0 that includes the PR from @Naoray. This allows you to enable or disable sorting on a per request basis. There's a section in the README about it as well. I hope this will suffice. Good luck!

[2020-10-02 08:11] #37 closed

[2020-10-09 09:52] jnbn opened #54 "Sorting Morphs"
Any ideas on how to use sorting on morphedbymany relations?

[2020-10-14 12:43] shaffe-fr commented on #51
Hi @TheSETJ, you can try to fail the updates silently:
[code]

[2020-10-14 16:21] TheSETJ commented on #51
This may solve the double error message issue, but I lose my custom error.

[2020-10-14 16:57] shaffe-fr commented on #51
Yeah, I guess some tweaks must be done on the frontend side :/

[2020-10-16 21:42] Tarpsvo commented on #54
Hi! Have you tried using the same many-to-many sorting solution?

[2020-11-04 12:31] mdavis1982 opened #59 "Can't Install on Nova 3.14.0"
Hi...

I'm trying to include this in a new project using Laravel 8.13.0 and Nova 3.14.0.

Whenever I try to install I'm getting the following:

[code]

How can I get this installed into my project?

Thanks 😄

[2020-11-04 12:49] mdavis1982 commented on #59
Looks like this is an issue with Composer 2.

https://github.com/laravel/nova-issues/issues/3019

Closing as this shouldn't be fixed here! Thanks for the great package! 😄

[2020-11-04 12:49] #59 closed

[2020-11-07 20:06] simondavies commented on #10
I am also thinking about how to handle pagination as I am using in the parent `HasMany::make` but within the relationships parent it list it with sorting but has pagination in it so cannot sort proper.

Currently I get past this by changing the pagination settings in the nova config file to `load-more`, enabling me to load them all and then sort.

Wondering if theres a setting that can be used to

[2020-11-16 13:41] Naoray opened #60 "Sorting on ManyToMany and Index view is possible"
The documentation states that

That's not entirely true. If you name the column name on the `PivotModel` different than on your `Model` where you want to sort in the index view (e.g. PivotModel column name: `sort_order`, Model column name: `order_column`) and then add the following method to your Nova Resource

[code]

Don't forget to change the `order_column_name` on your Model to `order_column`.

[2020-11-18 15:30] Tarpsvo commented on #60
Yeah, it's possible when using multiple order columns. But providing that out of the box and documenting it so that people actually understand it is quite a challenge. ;)

[2020-11-18 17:29] Naoray commented on #60
@Tarpsvo alright. I thought I just let you know in case you didn't. Maybe you can just link to this issue from the documentation somehow, so other ppl encountering this do have a clue on where to start with this.

[2020-11-23 15:04] santilorenzo opened #62 "determineOrderColumnName is not callable as it's protected in the SortableTrait"
The
`http://my-laravel-server/nova-api/my-model?search=&filters=W10%3D&orderBy=&perPage=25&trashed=&page=1&relationshipType=`
 endpoint returns the following error:
`message: "Call to undefined method App\MyModel::determineOrderColumnName()"`

Unluckily, determineOrderColumnName is defined as protected in the trait, so it can't be called outside the object.
I had to do this dirty trick to make it

[2020-11-24 08:56] Tarpsvo commented on #62
Uuuh, doesn't look like it's protected?

https://github.com/spatie/eloquent-sortable/blob/master/src/SortableTrait.php

All functions are public. I think there's something else going on with your project.

[2020-11-25 12:27] mineait commented on #62
Just confirming I experience the same issue as OP @santilorenzo .
In the vendor map, this function is protected.

[2020-11-25 12:46] santilorenzo commented on #62
@Tarpsvo For some reason nova-sortable requires eloquent-sortable **v3.8.2**.
From my composer.lock:

[code]

In v3.8.2 of eloquent-sortable that method is protected.
`composer update` didn't help

[2020-11-25 12:52] Tarpsvo commented on #62
Hmm, I released version 1.6.2 where the required version is now 3.9. This should do it.

[2020-11-25 13:35] santilorenzo commented on #62
Bear in mind that version 3.9 requires php 7.3 and it is no longer compatible with php 7.2.
I'm using php 7.2 now and composer doesn't allow me to update nova-sortable to 1.6.2.

[2020-12-04 08:57] Tarpsvo commented on #62
:( It seems it's time to get with the times. I adjusted `nova-sortable` requirements accordingly - PHP 7.3 and Nova 3 (Laravel 7+) minimum now.

[2020-12-04 08:57] #62 closed

[2020-12-04 09:02] Tarpsvo commented on #60
Added a reference to this issue in the docs. :) Thanks!

[2020-12-04 09:02] #60 closed

[2020-12-14 15:41] 0528Makoto opened #64 "Sortable no index for "Sorting on HasMany relationship""
No view options in index

[2020-12-15 10:38] Tarpsvo commented on #64
Can you please provide more info?

[2020-12-20 12:20] TheSETJ opened #66 "Inline actions in lenses response with 404 error"
I don't know whether I've chosen a good title or not, but here is the story:

https://github.com/laravel/nova-issues/issues/2947#issuecomment-748597856

After reading the above comment, I've updated to the latest version of the package, but I still have the issue.

[2021-01-06 14:50] tpetry opened #69 "Resource policies are ignored"
`nova-sortable` currently ignores the policy rules for the associated resource:If a user does not have the right to change the resource the sortable function is still displayed in the UI and also executed although the user is not allowed to make any changes.

[2021-01-08 08:24] #66 closed

[2021-01-08 08:58] Tarpsvo commented on #54
MorphedByMany should work the same as belongsToMany.

[2021-01-08 08:58] #54 closed

[2021-01-08 12:01] #64 closed

[2021-01-08 13:59] Tarpsvo commented on #69
Hi! Version 2.1.0 now hides the buttons when the user is not authorized to update the resource. Thanks and good luck!

[2021-01-08 13:59] #69 closed

[2021-01-08 13:59] Tarpsvo commented on #51
Hi! Version 2.1.0 now allows the user to disable sorting of some rows through `static canSort($request, $resource)`. Check the README for more information. Thanks and good luck!

[2021-01-08 13:59] #51 closed

[2021-01-08 13:59] Tarpsvo commented on #32
Hi! This is now fixed in version 2.1.0. :) Good luck!

[2021-01-08 13:59] #32 closed

[2021-01-10 13:18] Gil-1 opened #70 "All ressources are sortable by default !"
When adding sortable in a projet all Nova Resources are populated by default even without any trait implementation.

This was tested on multiple projects using Nova 3.19.1

[2021-01-11 09:19] Tarpsvo commented on #70
Oops, sorry about that! Fixed in version 2.1.1. Thank you for reporting this! :)

[2021-01-11 09:19] #70 closed

[2021-01-11 10:26] Gil-1 commented on #70
Oohh nice. Thanks for fixing this so quickly :)

[2021-01-21 21:04] jkudish opened #73 "Extra tr>td displayed on index view of resources with no actions"
Originally reported as a Laravel Nova issue (https://github.com/laravel/nova-issues/issues/3179) but I've narrowed it down to an issue with this package.

The first tbody>tr>td on the index view is reserved for checkboxes, but for resources that don't have any actions it shouldn't display any. It seems that this package's override of the `ResourceTable` component doesn't account for that and I end

[2021-01-22 07:39] Tarpsvo commented on #73
Scheiße, I thought I handled it. I'll look into it.

[2021-01-22 08:06] Tarpsvo commented on #73
Hey @jkudish! I think I managed to find the issue. Please try out version 2.1.5 and let me know. Thanks!

[2021-01-22 18:18] jkudish commented on #73
Yes 2.1.5 fixed it 😃

[2021-01-22 18:18] #73 closed

[2021-02-01 14:59] e-yakubov commented on #32
@Tarpsvo Hi! Its not working on 2.1.5 version:
<img width="1094" alt="Screenshot 2021-02-01 at 16 57 57" src="https://user-images.githubusercontent.com/5730844/106475582-c230d780-64ae-11eb-9db6-7209e9984504.png">

`public function authorizedToDelete(Request $request)
    {
        return false;
    }`

[2021-02-04 09:47] Tagra opened #74 "Sort button grayed out"
Possible bug ?
I followed manual, everything seem to be right but sort buttons are always disabled.
When i am passing sort_not_allowed = true - button are showing up but disabled.
When i am passing sort_not_allowed = false - buttons are not showing up at all.
I am confused.

[2021-02-05 07:34] Tagra commented on #74
Resource was not authorizedToUpdate.

[2021-02-05 07:34] #74 closed

[2021-02-05 20:17] gustavonecore opened #75 "The sort comp doesn't work with delete policy as false"
I just added the package to my project and worked pretty good!
![image](https://user-images.githubusercontent.com/6432827/107084313-a5a9dd80-67d5-11eb-9769-9d9ed358feb5.png)

**But then, I added a policy to my resource like:**

[code]

And the comp is not available anymore (also the header columns are broken with the related row columns)
![image](https://user-images.githubusercontent.com/6432827/1

[2021-02-06 19:55] Jnewbon opened #76 "only_show_on not working for one_to_many relationships"
The pull request  #36 has the `only_sort_on`, work for both many to many and one to many relationships

The commit 0429ee86ddccbdf16d9c9a649e3b34123a07c3cf changed this para-dime to only allow the `only_sort_on` and `dont_sort_on` to work with many to many relationships and and disables the feature for one-to-many relationships.

Normally one-to-many relationship would only sort on the specific mo

[2021-02-07 05:13] salvisb opened #77 "Hide sort button (instead of disabling it)"
Hi, is it somehow possible to hide the sort button from index (instead of disabling it) and only show it for relationships on a detail screen? Thanks!

[2021-02-09 09:34] Tarpsvo commented on #75
Hey @gustavonecore! There was indeed a bug with this. I fixed it in version 2.1.6. Check it out and let me know if it acts as intended now. Thank you for reporting this and good luck! :)

[2021-02-09 09:34] #75 closed

[2021-02-09 09:36] Tarpsvo commented on #76
Hey @Jnewbon! Thanks a lot for the very thorough report! As I dug into it, there were many issues I uncovered. I fixed the issue you reported and many more in version 2.1.6. I tested it on both ManyToMany and HasMany relationships and it seemed to work as described now. Please do test out version 2.1.6 and let me know if it anything is still broken. Thank you and good luck! :)

[2021-02-09 09:36] #76 closed

[2021-02-09 09:37] Tarpsvo commented on #77
Hey! This might've been a side effect of a recent series of bugs in version 2.1.5. Please upgrade to 2.1.6 and let me know if the issue persists. Thank you and good luck!

[2021-02-09 09:37] #77 closed

[2021-02-13 05:05] salvisb commented on #77
Upgrading to 2.1.6 fixed the issue. Thanks!

[2021-02-17 10:19] cord opened #79 "Missing Sort-Buttons since 2.1.6"
We use this package extensively for both sorting resources (`sort_on_index`) but also relations ( `sort_on_has_many` / `sort_on_belongs_to`).

In our use case, we allow to sort a resource (e.g. post) but also the relations to this resource (e.g. user->post) through the pivot table. Prior to 2.1.6 this worked, but now either `sort_on_index` OR `sort_on_belongs_to` is possible.

Would be great if yo

[2021-02-19 09:57] CosmicodeStudio opened #80 "Sortable should not show inside Lenses"
I'm having a problem where I have a Lens inside a Resource with HasSortableRows trait, but inside the Lens even with a different order, it shows the order field where I can change the order. I already tried with canSort, but I can't find there if my request it's inside a Lens.

Thank you

[2021-03-04 11:37] Tarpsvo commented on #79
Hi @cord

I added support for Index & BelongsTo simultaneous sorting in 2.1.7. It should start working without any configuration changes.

As for the sort order columns from the main model and pivot clashing, I'm not sure how that happens and will need to investigate further.

Please test 2.1.7 and see if your sorting has returned to how it was. Thanks!

[2021-03-04 11:39] Tarpsvo commented on #80
Hi! Thanks for reporting this. I fixed it in version 2.1.7, sorting buttons no longer show inside Lenses. Good luck!

[2021-03-04 11:39] #80 closed

[2021-03-04 11:40] CosmicodeStudio commented on #80
Thanks so much for your fix!

[2021-03-04 22:47] marispro commented on #79
@Tarpsvo Hi, we have tested 2.1.7, but unfortunately buttons are still missing.
But on 2.1.5 it works correct.

[2021-03-05 08:29] Tarpsvo commented on #79
Hmm, okay. Do you have the spatie/eloquent-sortable's SortableTrait on both the Pivot and the Model you're sorting?

My test project has the following setup:
Artist - ArtistTrack (many-to-many w/ pivot) - Track

Artist resource:
[code]

Artist model:
[code]

ArtistTrack pivot model:
[code]

And I can sort Artists on both: in Artist resource index view and when viewing the BelongsToMany field on Tr

[2021-03-05 13:03] cord commented on #79
@Tarpsvo thanks a lot for your example, now the sorting works again!

[2021-03-05 13:03] #79 closed

[2021-03-05 13:08] Tarpsvo commented on #79
Great to hear! Good luck!

[2021-03-07 16:31] plakhin opened #83 "Option to display sort buttons even if policy denies"
I have a model which is denied to be updated by policy, but I still want to be able to sort records.
How can I make sort buttons being displayed in this case?

[2021-03-08 14:39] KasparRosin commented on #83
You can check if your sort column is dirty and if it is, you allow sorting.
[code]

[2021-03-08 15:16] plakhin commented on #83
Thanks for the answer, but I didn't understand. Where can I do this check?

[2021-03-09 06:35] plakhin commented on #83
@KasparRosin if you mean `update()` method of `Policy`, this doesn't help.

What I mean is that I want to hide `Edit` button, but allow sorting.

And I think it makes sense to check update Policy of "parent" model in case `'sort_on_has_many' => true,` because in that case despite the fact we are technically updating the `model` itself (we are updating `sort_order` column of the model), from the pe

[2021-03-15 18:22] andre4nap commented on #49
The best way to determine if a model has Soft Deletes trait is to check `trashed()` method instead of `withTrashed()`.

You can check it here
[https://laravel.com/docs/8.x/eloquent#soft-deleting](https://laravel.com/docs/8.x/eloquent#soft-deleting).

I reopen this issue because my laravel version doesn't return true on `method_exists`. Can you update please?

[2021-03-16 12:58] mellissageutskens-npo opened #85 "Overview orders on ID and not on sort_order"
I'm trying to add sorting on a ManyToMany relationship between `Playlist` and `Performance` through a pivot table. I've followed the steps described in the documentation, but the relationship keeps ordering on `ID`, and not on `sort_order`. What am I missing here?

Here is my code:

**app/Models/Playlist**
_Note: If I remove `->using()`, ordering is done on `sort_order` like it should._
[code]
**a

[2021-03-16 14:07] mellissageutskens-npo commented on #85
Nevermind, I figured out the problem. It's because I have two `sort_order` fields, one on the `performances` table, and one on the pivot table. The pivot table seems to be looking at the `sort_order` field on the `performances` table, and not the one on the pivot table. So that's why the ordering didn't work.

For now I renamed the `sort_order` field on the pivot table, but I guess the real soluti

[2021-03-16 14:07] #85 closed

[2021-03-25 16:10] plakhin commented on #83
Any updates?

[2021-03-26 09:18] Tarpsvo commented on #83
Hi @plakhin!

I added a new option to the $sortable array in version 2.2.0. This should fix the case for you. :)

[code]

[2021-03-26 09:18] #83 closed

[2021-03-26 09:19] Tarpsvo commented on #49
I merged your PR @andre4nap. Thanks for helping out and good luck!

[2021-03-26 09:20] plakhin commented on #83
@Tarpsvo
Thank you for implementing and for the update!

[2021-04-07 07:32] GewoonRoy opened #89 "Sort_order has duplicate sort values on update"
Maybe i'm doing something wrong but i don't get it to work.

| Package | Version |
|---|---|
| PHP | 7.4 |
| laravel/nova | 3.22.0 |
| optimistdigital/nova-sortable | 2.2.0 |

I've followed the "Installation" and "Usage" steps completely and added the sortable configuration to the Eloquent model:

[code]
In the Nova resource i've added the `use HasSortableRows;` trait. And i've update sort_order f

[2021-05-04 03:59] andrewtweber opened #91 "Allow sorting within relationships"
Feature request:

If you have a `Poll` model with a hasMany `PollOption`, for example.

I believe you can only sort when viewing the index of the `PollOption` resource type. When viewing an individual Poll, with its PollOptions listed below, unfortunately they are not sortable.

The index listing sorting doesn't really matter to me, because I only care how PollOptions are sorted in relation to oth

[2021-05-04 08:07] Tarpsvo commented on #91
HasMany docs:
https://github.com/optimistdigital/nova-sortable#sorting-on-hasmany-relationship

ManyToMany docs:
https://github.com/optimistdigital/nova-sortable#sorting-on-manytomany-relationships

[2021-05-04 08:07] #91 closed

[2021-05-06 19:36] chiz-developer opened #92 "On dragable sort receive error - can't get model of null"
Solved by providing viaResourceId to findResourceOrFail
Can you fix this?
![image](https://user-images.githubusercontent.com/13472539/117355523-5d28bb80-aebb-11eb-8145-c46b157fec18.png)

[2021-05-06 19:38] chiz-developer commented on #92
$validationResult is null here
![image](https://user-images.githubusercontent.com/13472539/117355797-ac6eec00-aebb-11eb-8189-1c3fd4a5fab2.png)

[2021-05-07 08:30] Tarpsvo commented on #92
I need to know more about your setup. What relationship are you using, what config etc?

[2021-05-07 08:32] chiz-developer commented on #92
Laravel Framework 7.29.3
Nova 3

HasMany relation

[2021-05-07 10:52] Tarpsvo commented on #92
That's weird, it shouldn't fix it, as resourceId is null for that reorder request.

Can you see what exception you have on line 25? Ie:
[code]

I honestly can't seem to reproduce this error.

[2021-05-07 10:57] chiz-developer commented on #92
Trying to get property 'model' of non-object {"userId":1,"exception":"[object] (ErrorException(code: 0): Trying to get property 'model' of non-object at /var/www/laravelproject/api/vendor/optimistdigital/nova-sortable/src/Http/Controllers/SortableController.php:14)
[stacktrace]
#0 /var/www/laravelproject/api/vendor/optimistdigital/nova-sortable/src/Http/Controllers/SortableController.php(14): Illu

[2021-05-07 11:02] Tarpsvo commented on #92
That's the error thrown when $validationResult is null, what about the error at HasSortableRows.php at line 25? Thanks!

[2021-05-07 12:29] Tarpsvo commented on #89
Hi! What's your whole setup? Ie relationships (I see you're using it on HasMany). I tried replicating your steps exactly, but wasn't able to reproduce that problem. I tried both HasMany and Index methods.

[2021-05-07 12:45] chiz-developer commented on #92
![image](https://user-images.githubusercontent.com/13472539/117451350-1a162900-af4b-11eb-8de0-c07745e2f07a.png)
![image](https://user-images.githubusercontent.com/13472539/117451401-28fcdb80-af4b-11eb-9d16-29d6600a2ad8.png)
![image](https://user-images.githubusercontent.com/13472539/117451426-3023e980-af4b-11eb-8bb8-61d075736ab1.png)

[2021-05-07 12:52] Tarpsvo commented on #92
Ah interesting, so on the server, it somehow becomes an empty string. I have no idea how that happens though.

I replaced the `isset()` with `!empty()` which also checks for `0` and `''` and released version 2.3.1 with the fix. Thanks a ton for your help! Good luck!

[2021-05-07 12:52] #92 closed

[2021-05-07 12:55] chiz-developer commented on #92
thank you too!

[2021-05-12 06:23] GewoonRoy commented on #89
I tried a different setup and it worked as expected. 🤔 I think i need to research it further on my part. As far as I know the package seems to be working fine. I will open this issue when i might find something which is related to this package. Thank you for the reproduction steps and response, appreciated!

[2021-05-12 06:23] #89 closed

[2021-05-30 14:38] MHassanSaqib opened #93 "'sort_on_has_many' => true, line disables the sortable feature from index as well as not enabling relationships sorting"
I have added  `'sort_on_has_many' => true,` line but it is not adding a sortable feature to the relationship. Also after adding this, the sorting icons disappear from the resource index page as well.

Could you please assist me with how to add this feature?

![image](https://user-images.githubusercontent.com/7033816/120108429-eda09780-c119-11eb-893b-e94624a4d793.png)

[2021-05-30 14:45] MHassanSaqib commented on #93
I was trying to add the `'sort_on_has_many' => true` on parent model.
Issue resolved..
Thanks for implementing such an amazing package.

[2021-05-30 14:45] #93 closed

[2021-06-10 13:37] dprhmk opened #94 "How to sort all by desc in a resource?"
After creation, object is display at the end.

I can't use indexQuery()
"NB! This overrides the indexQuery() method."

Maybe, i can use some default method to sort?

How to sort all by desc in a resource, and after creation object will be first?

[2021-06-10 15:43] pindab0ter commented on #47
I'm using model that can be a parent/child of itself that I group by the parent_id and in the Index I only show root items. If I would like to try to hack the ability to sort both on the index and in the hasMany relationship (assuming the side effects are alleviated by the grouping), where would I start?

[2021-06-18 14:13] Tarpsvo commented on #94
Heya! The restriction comes from `spatie/laravel-sortable` which doesn't allow specifying the direction of the sort. However - there's one quick-fix which I've used and recommend to others as well:

1) Create an Observer for your model
2) Call `$model->moveToStart()` in the `created()` callback

Example of this:
[code]

[2021-06-18 14:13] #94 closed

[2021-06-18 14:18] Tarpsvo commented on #47
https://github.com/optimistdigital/nova-sortable/issues/60

Here's some info on that.

[2021-06-23 14:18] vanderb opened #95 "The computed property "reorderDisabled" is already defined as a prop."
Hi,
got that error on every resources-table.

`The computed property "reorderDisabled" is already defined as a prop.`

The problem is caused by the `resources/js/components/ReorderButtons.vue` because "reorderDisabled" is both property and computed property.

You can not provide same name for property and computed so you have to rename one of them to fix that error.

Thank you.

[2021-06-23 20:04] lisotton commented on #94
Hi,

I also would like to have the sort of my resources to have the newests on top. I tried to override the `indexQuery` changing the direction of my `order_column` but then this package does not work properly.

It would be great to have a configuration in the package to indicate if the `order_column` should be `desc` or `asc`. I see in the trait, by default it always order by `asc`.

You mentione

[2021-07-01 13:39] mstaack opened #97 "Broken ID display since nova 3.27"
fixed in #96

needs prop resource now

[2021-07-05 08:24] Tarpsvo commented on #95
Hi! Thanks a lot for reporting this! It should be fixed in version 2.3.4. :)

[2021-07-05 08:24] #95 closed

[2021-07-05 08:24] Tarpsvo commented on #97
Thank you! :) Released in version 2.3.4.

[2021-07-05 08:24] #97 closed

[2021-07-05 08:29] Tarpsvo commented on #94
@lisotton Hey! Thanks for your feedback.

I don't think it's that easy to tap into Nova's own CreateController - the easiest way is to observe the observable model and when a new one is created, move it to the first position. The models creation isn't handled by a controller inside this package.

What kind of a solution were you thinking of?

[2021-07-05 15:16] lisotton commented on #94
Hi @Tarpsvo

I get your point for creation, but my main point is to have the resources in the table ordered by `desc` (newest first). The change of the order for existing resources (when dragging and dropping) in the index is handled by the controller inside of this package, so I think could be an option to invert the order of the array received in the post or something more elaborated, so the ord

[2021-07-25 04:45] TonnyORG opened #100 "Missing support for belongs to many relationships"
I was just testing your package within an app and I find out that it does work on `hasMany` and `belongsTo` (this is not documented but `'sort_on_belongs_to' => true` does the trick) relationships but it doesn't for `belongsToMany`, is it possible to add such support? What do you think?

[2021-07-26 11:16] KasparRosin commented on #100
Support for ManyToMany already exist.

Here is the documentation for this: https://github.com/optimistdigital/nova-sortable/blob/master/docs/sorting/many-to-many.md

[2021-08-04 06:52] #100 closed

[2021-08-12 15:58] nammet commented on #60
The getSortability method above will cause the global search to break.  I've solved that by adding an additional check:

`    public static function getSortability($request)
    {
        $response = HasSortableManyToManyRows::getSortability($request);

        if (is_null($response)) {
            return (object)['canSort' => false];
        }

        if (!$request->viaManyToMany()) {

[2021-08-19 15:13] jacob418 opened #101 "Error when sorting on unique db index"
In my Project I have a unique index on the order column. When reordering the entries I receive a 'duplicate key entry' error for the order column. While investigating the code I noticed that the reordering is not encapsulated within a db-transaction.

I understand that in some cases one might not want to use a transaction but in general I would really like to have the ability to decide weather to

[2021-09-01 15:21] Mazeland opened #102 "Sort order not working correctly"
Hi,

The package seems to have a bug. I've made 2 related models with a manyToMany relation.
1. stockphoto (750 items)
2. stockphoto_category (21 items)

I can upload photos and can add a category to them via Nova. When I try to sort rows with drag and drop in the detail view with a small amount of rows to sort (e.g. 30) everything works fine. But now I have 350 rows to sort and things get messed

[2021-09-30 15:09] AforDesign opened #104 "Sort order of Resource is reversed when HasSortableManyToManyRows is used"
Laravel Version: 7.30.4
Nova Version: 3.29.0
PHP Version: 7.4.16
optimistdigital/nova-sortable: 1.6.2

**Description (updated):**

Using the HasSortableManyToManyRows trait affects the order of the resource's own indexpage.
It sets the order to: **ID, DESC**

This behaviour overrules any sorting preference as set in the Resource
Turning it off shows index in correct order.

To be clear; the trait

[2021-10-01 12:16] keizah7 opened #105 "OptimistDigital\NovaSortable n+1"
![image](https://user-images.githubusercontent.com/49227202/135618297-bf881ed7-44e7-4339-b160-773b4c399716.png)
Package creates n+1 problems when resource is on another resource detail list as relationship

[2021-10-01 13:17] Tarpsvo commented on #104
Hi! That is intentional. If you want to sort on both ManyToMany AND index views, please refer to this issue: https://github.com/optimistdigital/nova-sortable/issues/60

[2021-10-01 13:17] #104 closed

[2021-10-01 14:06] Tarpsvo commented on #101
Transaction didn't seem to help, I wrapped the call in a transaction but it still throws the same error.

See this issue:
https://github.com/spatie/eloquent-sortable/issues/44

[2021-10-01 14:36] Tarpsvo commented on #102
That's really weird, I am unable to reproduce this issue on my testing setup.

Here's my setup. Two models: Artist and Track. A Track can have many Artists (many-to-many).

[code]

[code]

[code]

I don't know what the difference is, but it seems to work for me. :S

[2021-10-01 14:55] Tarpsvo commented on #105
Hi! This is now fixed in version 2.4.1. Thank you for reporting this!

[2021-10-01 14:55] #105 closed

[2021-10-01 20:06] msouto346 opened #106 "Project overwrite of ResourceTableRow and ResourceTable are taking precedence over nova-sortable ones"
Hello, as the title describes, I have my own overwrites of those 2 components which is causing the package to not work for me anymore after adding them. Is there a "simple" way to overcome this or am I forced to try and replicate the package functionality?

I know this is not a bug of the package but decided to open the issue in case someone has came into contact with this situation before.

[2021-10-02 20:06] #106 closed

[2021-10-06 07:31] Tarpsvo commented on #106
Hi! That's a tough one, if you've overwritten the table and row components then there's no easy way to ensure this package will work.

We have a compatibility guide for nova-resizable and nova-sortable here: https://github.com/optimistdigital/nova-resizable/discussions/2

But this doesn't really apply to your usecase. I think you have to manually replicate the JS functionality by copy/pasting it f

[2021-10-08 11:59] Broutard opened #107 "cachedSortability error"
Since last release, I get `Cannot access  property App\Nova\Relatable\Teasers\Spotlight::$cachedSortability`

Seems occured because my `App\Nova\Relatable\Teasers\Spotlight` extends a base `App\Nova\Relatable\Teaser` which use `HasSortableRows` trait.
I have to add this trait on every extended resource.

[2021-10-12 14:19] wimski opened #108 "Caching breaks my tests"
Since the sortability caching has been introduced, the Nova tests in my project regarding sortability are broken. There should be an option to disable caching (temporarily) for a resource.

https://github.com/optimistdigital/nova-sortable/commit/7fe6afe07446e5bf49d374ea7ef600a6a2e2c85a

Below is an example of my tests. The second test will always fail when run in sequence, because the sortability

[2021-10-12 15:21] #107 closed

[2021-10-12 15:22] #108 closed, assigned to nobody

[2021-10-25 11:34] jacob418 opened #109 "Docs addition"
In my project i needed to use the `indexQuery` method myself leading - obviously - to broken sorting behavior. I came up with the following solution which is probably worth mentioning in the docs:

[code]

Another way to do this with an alias is proposed here: https://stackoverflow.com/questions/11939166/how-to-override-trait-function-and-call-it-from-the-overridden-function/11939306#11939306

[2022-01-04 13:38] dovydasbu opened #110 "'sort_on_has_many' attribute does not work."
I declared `'sort_on_has_many' => true` attribute on `$sortable` array field in ModelX.

After that the arrows should be shown on ModelY Resource HasMany relationship with ModelX, but it does not work.

However, the arrows are staying on the index view.

Simplified models and Resources:

ModelX:

[code]

Resourece (ModelX):
[code]

Resource (ModelY):
[code]

[2022-01-14 12:01] Tarpsvo commented on #110
Wait, so ModelX and ModelY are the same model?

[2022-01-14 12:13] Tarpsvo commented on #109
Hi @jacob418! Thanks for the tip. :) I added it to the README.md.

[2022-01-14 12:13] #109 closed

[2022-01-14 12:13] #102 closed

[2022-02-09 11:29] dovydasbu commented on #110
Yes.

Use case - categories who has parent categories.

I kind of solved it by having parent models displayed in nova index view and in each category (with parameter `'sort_on_has_many' => true`) i had to display HasMany relationship to Subcategories (with parameter `'sort_on_has_many' => true`).

[2022-04-05 17:55] cwray-tech opened #118 "Support Nova 4"
Now that Nova 4 is out, it would be great if we could update this package to support it. Let me know if you would like some help on it and I may be able to dedicate some time to it.

[2022-04-16 00:22] scramatte commented on #118
+1

[2022-04-22 21:42] daemswibowo commented on #118
+1

[2022-04-24 19:58] aromer commented on #118
This is being worked on here:
https://github.com/outl1ne/nova-sortable/pull/117

[2022-04-30 12:24] sineld commented on #118
+1

[2022-05-12 16:01] sinamiandashti commented on #118
+1 plz

[2022-05-13 12:36] Tarpsvo commented on #118
Locked the conversation, as I receive tens of "+1" emails per day. I haven't forgotten my dozen or so packages, but Nova 4 was a ridiculously big update and most of the packages require a lot of stuff to be redone for them to work.

[2022-05-13 13:34] #118 closed

[2022-05-23 15:29] pepijn-vanvlaanderen commented on #109
@jacob418 / @Tarpsvo this actually did not work for me, maybe this has been updated in the Nova package but the parent indexQuery adds sorting:
[code]
That results in the sorting from `HasSortableRows::indexQuery` will be overwriten. I think the docs should be updated to just use:
[code]

[2022-05-23 15:59] jacob418 commented on #109
@pepijn-vanvlaanderen wich version of Nova are you using? Is it still 3? Do you have a package installed that adds default sorting functionality? Im asking this because in Nova 3 default sorting was not possible out of the box.

Anyway, I'd consider your second example a possible solution for your problem. Another approach is Is to overwrite this in your base resource class: Use the [`class_uses_r

[2022-06-10 23:42] jjjrmy commented on #110
Shouldn't the class names be different?

[2022-06-12 19:15] jjjrmy opened #126 "Nova Pagination `load-more` not Loading More rows"
When using then Nova Config: `'pagination' => 'load-more'`, the HasMany component is not adding the new rows received by the response.

![ezgif-1-8be7468d4b](https://user-images.githubusercontent.com/1609800/173249501-45b28ef6-4139-4b0a-a74f-7d59a9ecde71.gif)

Fixing this would somewhat solve the issue of #10 because you won't need to move it across pages.

[2022-06-12 22:43] jjjrmy opened #127 "TypeError: Cannot read properties of undefined (reading 'stopPropagation')"
When clicking the Up or Down arrow

[2022-06-13 20:32] a-chaudhari opened #128 "409 when requesting resource detail view"
I'm upgrading a nova 3 install to nova 4.   I've been running into an issue which I believe comes from this package.

If I'm browsing the index view of a resource, click on a row, nova receives a 409 error when trying to access the resource detail view and then does a full page refresh.  See screenshot.

If I remove nova-sortable this behavior goes away and the XHR request completes successfully a

[2022-06-20 11:01] benedict-w commented on #127
I'm getting this too using Nova 4.9.2 and Nova Sortable 3.0.1.

Also the model sort order is not saved although the UI is updated and the message reads "Resources successfully reordered"

[2022-06-22 13:46] bendadaniel commented on #127
Same problem :/

[2022-06-30 08:41] MarkBringNielsen commented on #128
I also have this issue and as a-chaudhari mentions, this causes issues with currentUser in the rest of Nova. Whenever I navigate back it causes the a lot of things, such as the sidebar and other actions to disappear.

[2022-06-30 13:46] simon-roland commented on #127
Confirmed, same error. Nova 4.11.0 and Sortable 3.0.1

[2022-06-30 14:05] simon-roland commented on #128
Same issue.

Click directly on the row in index view (Not on any link or button) causes 409 (Conflict) and a full page reload, which in turn causes problems with the currentUser prop.

Laravel 9.19.0, Laravel Nova 4.11.0, Nova Sortable 3.0.1

[2022-07-04 23:26] stefblokdijk commented on #128
+1

On Safari I get a 404 error when pressing the back button after you've opened the detail page by clicking on the resource row. On Chrome I get multiple console log errors and the navigation disappears.

[2022-07-06 10:10] goellner opened #129 "Sorting many to many doesn't apply the sorting on detail view"
Hello,

i followed this guide to the dot: https://github.com/outl1ne/nova-sortable/blob/main/docs/sorting/many-to-many.md

It renders the sorting on the correct model and not on the other one. I can reorder and it seems to apply the correct `order_column` values.

The only issue I have is, that it orders by default by the `id` and not the `order_column` in Laravel Nova. The query that gets run for

[2022-07-06 11:29] goellner commented on #129
It was because I had an `indexQuery` and didn't extend/overwrite it

[2022-07-06 11:29] #129 closed

[2022-07-07 22:17] bobdivinity opened #130 "update-order failed because of globalScope"
Hi,

I have defined a global scope in my model to retrieve my published element :
[code]

In Nova, I override the IndexQuery method to disable this global scope and see all my models (published and unpublished)
[code]

After defining my global scope, the update-order action is not working anymore. It returns the "invalid" error message from [this line](https://github.com/outl1ne/nova-sortable/blob

[2022-07-11 18:46] pavloniym opened #131 "Sorting without touching timestamps"
Is there a way to sort via Nova without changing the `updated_at` column?
Thanks!

[2022-07-19 11:26] KasparRosin commented on #128
Should be fixed via #132.
Released version 3.1.0

[2022-07-19 11:26] #128 closed

[2022-07-19 12:00] KasparRosin commented on #131
You can create an observer that removes timestamps when sort_order is updated.
[code]

[2022-07-19 12:57] KasparRosin commented on #130
Hey!

https://github.com/outl1ne/nova-sortable#other-usecases
We are overriding the indexQuery with HasSortable trait.

use HasSortableRows {
    indexQuery as indexSortableQuery;
}

public static function indexQuery(NovaRequest $request, $query)
{
  $query->withoutGlobalScopes();
  return parent::indexQuery($request, static::indexSortableQuery($request, $query));
}

[2022-07-19 13:24] KasparRosin commented on #110
Closed if for now. If that did not work we can re-open.

[2022-07-19 21:20] bobdivinity commented on #130
I'have already tried this and it doesn't anything :(

The problem is that the update-order is returning an error (like I said in my first message) so that, the indexQuery method which should be called when the first one succeed, is not triggered.

[2022-07-20 05:56] KasparRosin commented on #110
@dovydasbu Then I think you have to create a second sort column for subcategories.

[code]

[2022-07-20 06:29] KasparRosin commented on #130
I'm unable to reproduce this.
I think there is an issue somewhere in your setup.

Here is my repo where I tried it.
https://github.com/KasparRosin/nova-vanilla-repo/tree/packages/nova/v4/nova-sortable
Post model has `recent` global scope and I'm calling withoutGlobalScope in Post resource like you posted in the example.

Can you create a vanilla repo for us to reproduce this issue with.

[2022-07-26 22:11] bobdivinity commented on #130
Sorry for the delay, I'm on vacation and I don't have so much time to do a clean vanilla project.
So that I did a quick installation of laravel with sail.

Here the repository : https://github.com/bobdivinity/vanilla-scope and I still reproduce this issue.

I hope it will help you :)

[2022-07-28 16:26] a-chaudhari opened #134 "dragging rows often creates duplicate entries (visually)"
nova-sortable 4.1.0
nova 4.12.13
laravel 8.83.23
chrome 103.0.5060.134

There is an issue in nova-sortable in 4.x that wasn't present on 3.x.  When clicking and dragging around rows it'll often duplicate the row.  Thankfully this is only a visual bug as refreshing the page restores the correct count and expected positions.

Reproducing it isn't exact. But it's fairly straightforward if you click a

[2022-07-29 08:59] Anticom opened #135 "Deprecation warnings"
**Description:**
When reordering sortable deprecation warnings get logged.

**`outl1ne/nova-sortable` version:**
2.4.4

**`laravel/nova` version:**
3.32.0

**Log:**
[code]

---

If you need any further infos let me know.

Also I haven't looked at the sources specified in the log yet. Can't promise I'll find the time to contribute a MR but I see what I can do. 🙂

[2022-08-01 20:56] rv-csanford commented on #134
I am also getting this issue!

[2022-08-10 10:09] milewski commented on #134
Same issue

[2022-08-16 03:13] kristher1619 commented on #134
Same here

[2022-08-18 12:23] zwok commented on #134
Hi, I have the same issue

[2022-08-19 12:18] Tarpsvo commented on #127
I think got fixed during one of the updates. Please confirm.

[2022-08-19 12:19] #127 closed

[2022-08-19 12:21] Tarpsvo commented on #134
Thanks for reporting this! Fixed in version 3.2.0. :)

[2022-08-19 12:21] #134 closed

[2022-08-19 12:22] Tarpsvo commented on #135
Thanks to @mihai-stancu for the PR that fixes the warnings. Released in version 3.2.0. :)

[2022-08-19 12:22] #135 closed

[2022-08-21 13:01] d3v4nt opened #138 "Sorting doesn't work on nova resource but works on relations"
I've went through the configuration guide the sorting on relations works but `HasSortableRows` trait has no effect on the nova resource.

laravel/framework – v9.25.1
laravel/nova – 4.12.14

spatie/eloquent-sortable – 4.0.1
outl1ne/nova-sortable - 3.2.1

[2022-09-05 05:54] milewski opened #139 "Items are not being correctly updated when draging it thought out the table"
Hi, I'm not sure at what version this stopped working, however for quite a while now the sorting "works" behind the scene but the UI does not update correctly when dragging things around.

You can see on the video below after dragging the items reset back to where they were before the drag but if I refresh the page you can see they were correctly sorted (on the db)

https://user-images.githubuserc

[2022-09-08 07:51] miks commented on #139
Same here, but I think it worked some time ago. Maybe some Nova update broke it?

[2022-09-08 09:11] miks commented on #139
3.1.0 is fine, the issue started from 3.2.0

[2022-09-16 14:59] Brand3000 opened #140 "A shift of the head line if a resource doesn't have the true delete policy"
If I don't allow the delete policy, the head line of the list has a shift on the left and right respectively.

[2022-09-27 20:14] reppair commented on #140
Ah, I was about to report that one as well.

Basically if Nova does not render the checkboxes to select rows, there are more `td` elements per row than `th` elements in the `thead` of the table. Respectively the column headings do not match the data in the rows.

Here is an example
<img width="1395" alt="Screen Shot 2022-09-27 at 23 02 29" src="https://user-images.githubusercontent.com/10784954/19

[2022-10-03 07:46] Brand3000 opened #142 "Two successful messages about moving"
When moving a record to the first/last position

[2022-10-03 07:47] Brand3000 opened #143 "Call a callback method"
It would be great to have the ability to call a custom callback method after sorting. Right now, I have to dig inside the source =(

[2022-10-05 14:58] AndreyPirozhkov opened #144 "Reordering is not allowed for this resource."
I did everything according to the instructions https://github.com/outl1ne/nova-sortable/blob/3.2.1/docs/sorting/many-to-many.md
But the navigation buttons are not available.

![image](https://user-images.githubusercontent.com/113905492/194092915-b41bf7a2-0819-42b4-8335-bbf0a4f6ef53.png)

[2022-10-11 14:08] joschaefer opened #145 "Declaration of HasSortableRows::indexQuery() is incompatible with Nova's declaration"
- PHP: 8.1.10
- laravel: 9.34.0
- nova: 4.15.2
- nova-sortable: 3.2.1

Thank your for this great package! I wanted to let you know, that I receive the following error. Probably due to a changed method signature in Nova's `Resource::indexQuery()`:

[code]

I was able to temporarily fix it with the following code added to my Nova resource:

[code]

[2022-10-28 09:13] Tarpsvo commented on #145
I wonder if they undid that. In the version 1.71.1, it doesn't exist anymore:

![image](https://user-images.githubusercontent.com/2018660/198551115-4f9ccae4-825e-4243-8738-25f6cbe81ca9.png)

[2022-10-28 09:15] Tarpsvo commented on #145
I checked version 4.15.2 as well and the PerformsQueries trait still doesn't include the return type of Builder. Are you sure this isn't your App\Nova\Resource which somehow overrides the indexQuery signature?

[2022-10-28 09:16] #145 closed

[2022-10-28 10:40] Tarpsvo commented on #139
That's weird - I can't seem to be able to reproduce this issue. Can you confirm this wasn't related to JS being cached?

[2022-10-28 10:43] miks commented on #139
I cleaned cache multiple times. I can repeat with latest Nova and sortable 3.2.1

[2022-10-28 10:51] Tarpsvo commented on #139
That's really weird. I wonder why it's not happening for me - am I doing something wrong? Also using the latest Nova (4.17.1).

https://user-images.githubusercontent.com/2018660/198570461-60e1f8d9-b95d-44c1-848c-583d75f60fb0.mp4

[2022-10-28 10:53] miks commented on #139
Which browser you used? I tested with Safari.

[2022-10-28 11:13] milewski commented on #139
Still not working for me and I tested in chrome... maybe some package we have in common is interfering with it? this is my composer.json

[code]

[2022-10-28 12:42] Tarpsvo commented on #142
Heya! Thanks for reporting this. It's now fixed in version 3.3.0. Good luck!

[2022-10-28 12:42] #142 closed

[2022-10-28 12:43] Tarpsvo commented on #140
Heya! @shaffe-fr made a PR which fixes this behaviour and it was released in version 3.3.0. Please try it out. Good luck!

[2022-10-28 12:43] #140 closed

[2022-10-28 12:44] Tarpsvo commented on #139
I released version 3.3.0 which updates the Vue version and rearranges the :key parameter on the row (just a theoretical fix). Can you try out the latest version and let me know if anything's changed? Thanks!

[2022-10-28 12:45] Tarpsvo commented on #126
Heya! Version 3.3.0 addresses this issue. Please try it out. :) Thanks!

[2022-10-28 12:45] #126 closed

[2022-10-29 03:39] milewski commented on #139
I upgraded, made sure the cache was cleared and tested on firefox/edge/chrome, and I'm still unable to sort...

[2022-10-29 20:56] Brand3000 commented on #140
It works fine on resources, but in relations the bug still persists.

[2022-11-15 08:11] denniselsinga opened #148 "Nova v4.18.0"
[**Nova will now disable the resource table row buttons instead of hiding them.**](https://nova.laravel.com/releases/4.18.0)

When using this package icons are still hidden. Is it possible to match the blade views from the new version?

[2022-11-16 07:46] KasparRosin commented on #148
Seems the behaviour changed again in version 4.19.0

[2022-11-22 15:52] denniselsinga commented on #148
Any news on this?

[2022-11-29 16:17] IgorMeta opened #149 "bug: nova-sortable + outl1ne/nova-translatable"
Text::make('Name')->translatable(['en' => 'English', "pl" => 'Polski']);
After that, the Name field is returned back during sorting